@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#wallpaper {
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#container #div-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#div-img #weather-ilustration {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#container #data {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

#data #result {
    display: flex;
    flex-direction: column;
    width: 50%;
}